name: Build only

on:
  push:
    branches-ignore: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v6

    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        push: false